html {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    min-height: 100%;
}

.header {
    grid-area: header;
    background-color: #ffffffe0;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.144));
    font-family: 'roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.header > .superior {
    display: flex;
    justify-content: space-around;
    height: 40%;
}

.header > .superior > .search {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    margin-right: auto;
    margin-left: 30px;
}

.header > .superior > .search #magnify-link {
    height: 18px;
    width: 18px;
}

.header > .superior > .search .search-bar {
    width: 500px;
    height: 25px;
    border: none;
    background-color: #E1E2E2;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 10px;
}

.header > .superior > .user-options {
    display: inline-flex;
    align-items: center;
    margin-right: 75px;
    gap: 25px;
}

.header > .superior > .user-options .notify {
    height: 18px;
    width: 18px;
    background-color: #ffffffe0;
}

.header > .superior > .user-options > .user-sup-img {
    height: 38px;
    width: 40px;
    border-radius: 50%;
    background-image: url(images/user-img.jpg);
    background-size: cover;
}

.header > .superior > .user-options h2 {
    font-weight: 700;
}

.header > .inferior {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60%;
}

.header > .inferior .left {
    display: inline-flex;
    align-items: center;
    margin-right: auto;
    margin-left: 30px;
    gap: 20px;
}

.header > .inferior .left .greeting {
    display: block;
}

.header > .inferior .left .greeting h6 {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 7px;
}

.header > .inferior .left .greeting h2 {
    font-weight: 900;
    font-size: 22px;
}

.header > .inferior .left .user-inf-img {
    height: 62px;
    width: 64px;
    border-radius: 50%;
    background-image: url(images/user-img.jpg);
    background-size: cover;
}

.header .inferior .right {
    display: inline-flex;
    margin-right: 75px;
    gap: 25px;
}

.header .inferior .right button {
    background-color: #1795D5;
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
    cursor: pointer;
    color: #ffffffe0;
}

.sidebar {
    grid-area: sidebar;
    background-color: #1795D5;
    filter: drop-shadow(2.5px 0px 0px rgba(0, 0, 0, 0.123));
    font-family: 'roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

.main {
    display: flex;
    flex-flow: row wrap;
    grid-area: main;
    background-color: #E1E2E2;
    gap: 30px;
    font-family: 'roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}


.main > .item-container {
    display: flex;
    height: auto;
    width: 69%;
    padding-bottom: 100px;
}

.main > .item-container > .items {
    display: flex;
    width: 100%;
}

.main > .item-container > .items > .left-item {
    width: 50%;
    height: 350px;
    margin-left: 15px;
    margin-top: 20px;
}

.main > .item-container > .items > .left-item > #item {
    border-left: 7px solid orange;
    filter: drop-shadow(5px 3px 5px rgba(0, 0, 0, 0.158));
    background-color: #ffffffe0;
    height: 225px;
    margin-top: 25px;
    border-radius: 7px;
}

.main > .item-container > .items > .left-item > #item > .content {
    display: block;
    padding-left: 25px;
    padding-top: 35px;
    padding-right: 95px;
}

.main > .item-container > .items > .left-item > #item > .content h2 {
    font-weight: 700;
    margin-bottom: 5px;
}

.main > .item-container > .items > .left-item > #item > .content p {
    font-weight: 400;
    font-size: 14px;
    color: gray;
}

.main > .item-container > .items > .right-item {
    width: 50%;
    margin-left: 25px;
    margin-top: 20px;
}

.main > .item-container > .items > .right-item > #item {
    border-left: 7px solid orange;
    filter: drop-shadow(5px 3px 5px rgba(0, 0, 0, 0.158));
    background-color: #ffffffe0;
    height: 225px;
    margin-top: 25px;
    border-radius: 7px;
}

.main > .item-container > .items > .right-item > #item > .content {
    display: block;
    padding-left: 25px;
    padding-top: 35px;
    padding-right: 95px;
}

.main > .item-container > .items > .right-item > #item > .content h2 {
    font-weight: 700;
    margin-bottom: 5px;
}

.main > .item-container > .items > .right-item > #item > .content p {
    font-weight: 400;
    font-size: 14px;
    color: gray;
}

.main > .article-container {
    flex-flow: column;
    width: 300px;
    margin-top: 20px;
}

.main > .article-container > .articles {
    width: 300px;
}

.main > .article-container > .articles #article {
    margin-top: 25px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.158));
    height: 350px;
    border-radius: 4px;
    background-color: #ffffffe0;
    padding: 35px;
}

.grid-container {
    display: grid;
    grid-template: "sidebar header" 145px
                   "sidebar main" auto /
                   280px auto;
}
