html {
    height: 100%;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    min-height: 100%;
}

.header {
    grid-area: header;
    background-color: #ffffffe0;
    filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.144));
    font-family: 'Roboto', sans-serif;
}

.header > .superior {
    display: flex;
    justify-content: space-around;
    height: 40%;
    font-family: 'Roboto', sans-serif;
}

.header > .superior > .search {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    margin-right: auto;
    margin-left: 30px;
}

.header > .superior > .search #magnify-link {
    height: 18px;
    width: 18px;
}

.header > .superior > .search .search-bar {
    width: 500px;
    height: 25px;
    border: none;
    background-color: #E1E2E2;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 10px;
}

.header > .superior > .user-options {
    display: inline-flex;
    align-items: center;
    margin-right: 75px;
    gap: 25px;
}

.header > .superior > .user-options .notify {
    height: 18px;
    width: 18px;
    background-color: #ffffffe0;
}

.header > .superior > .user-options > .user-sup-img {
    height: 38px;
    width: 40px;
    border-radius: 50%;
    background-image: url(images/user-img.jpg);
    background-size: cover;
}

.header > .superior > .user-options h2 {
    font-weight: 700;
}

.header > .inferior {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60%;
}

.header > .inferior .left {
    display: inline-flex;
    align-items: center;
    margin-right: auto;
    margin-left: 40px;
    gap: 20px;
}

.header > .inferior .left .greeting {
    display: block;
}

.header > .inferior .left .greeting h6 {
    font-weight: 500;
    font-size: 12px;
    margin-bottom: 7px;
}

.header > .inferior .left .greeting h2 {
    font-weight: 900;
    font-size: 22px;
}

.header > .inferior .left .user-inf-img {
    height: 62px;
    width: 64px;
    border-radius: 50%;
    background-image: url(images/user-img.jpg);
    background-size: cover;
}

.header .inferior .right {
    display: inline-flex;
    margin-right: 75px;
    gap: 25px;
}

.header .inferior .right button {
    background-color: #1795D5;
    border: none;
    border-radius: 20px;
    padding: 10px 25px;
    cursor: pointer;
    color: #ffffffe0;
}

.sidebar {
    grid-area: sidebar;
    background-color: #1795D5;
    filter: drop-shadow(2.5px 0px 0px rgba(0, 0, 0, 0.123));
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.sidebar * {
    text-decoration: none;
}

.sidebar .logo {
    display: inline-flex;
}

.sidebar .logo .assets{
    display: inline-flex;
    margin-top: 20px;
    font-size: 24px;
    font-weight: 400;   
}

.sidebar .logo .assets h2{
    margin-top: 5px;
}

.sidebar .logo img {
    margin-left: 10px;
    height: 30px;
    width: 34px;
}

.sidebar .options {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}

.sidebar .settings {
    margin-top: 20px;
}

.sidebar .options li {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

.sidebar .settings li {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
}

.sidebar .options a{
    color: #fff;
}

.sidebar .settings a{
    color: #fff;
}

.sidebar .options img {
    height: 16px;
    width: 18px;
    margin-left: 15px;
    cursor: default;
}

.sidebar .settings img {
    margin-left: 15px;
    height: 16px;
    width: 18px;
    cursor: default;
}

.main {
    display: flex;
    flex-flow: row wrap;
    grid-area: main;
    background-color: #E1E2E2;
    gap: 30px;
    font-family: 'Roboto', sans-serif;
}


.main > .item-container {
    display: flex;
    height: auto;
    width: 69%;
    padding-bottom: 100px;
}

.main > .item-container > .items {
    display: flex;
    width: 100%;
}

.main > .item-container > .items > .left-item {
    width: 50%;
    height: 350px;
    margin-left: 15px;
    margin-top: 20px;
}

.main > .item-container > .items > .left-item .projects {
    margin-top: 20px;
    color: #000;
    font-weight: 700;
}

.main > .item-container > .items > .left-item > #item {
    border-left: 7px solid orange;
    filter: drop-shadow(5px 3px 5px rgba(0, 0, 0, 0.158));
    background-color: #ffffffe0;
    height: 225px;
    margin-top: 25px;
    border-radius: 7px;
}

.main > .item-container > .items > .left-item > #item > .content {
    display: block;
    padding-left: 25px;
    padding-top: 45px;
    padding-right: 95px;
}

.main > .item-container > .items > .left-item > #item > .content h2 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}

.main > .item-container > .items > .left-item > #item > .content p {
    font-weight: 400;
    font-size: 16px;
    color: gray;
}

.main > .item-container > .items > .left-item > #item > .content .content-icons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 50px;
    margin-right: 30px;
}

.main > .item-container > .items > .left-item > #item > .content .content-icons .icon-wrapper{
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 22px;
    gap: 20px;
}

.main > .item-container > .items > .left-item > #item > .content .content-icons .icon-wrapper a{
    display: flex;
    flex-direction: row;
}


.main > .item-container > .items > .right-item {
    width: 50%;
    margin-left: 25px;
    margin-top: 20px;
}

.main > .item-container > .items > .right-item .projects2 {
    height: 15px;
    margin-top: 20px;
}

.main > .item-container > .items > .right-item > #item {
    border-left: 7px solid orange;
    filter: drop-shadow(5px 3px 5px rgba(0, 0, 0, 0.158));
    background-color: #ffffffe0;
    height: 225px;
    margin-top: 25px;
    border-radius: 7px;
}

.main > .item-container > .items > .right-item > #item > .content {
    display: block;
    padding-left: 25px;
    padding-top: 45px;
    padding-right: 95px;
}

.main > .item-container > .items > .right-item > #item > .content h2 {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}

.main > .item-container > .items > .right-item > #item > .content p {
    font-weight: 400;
    font-size: 16px;
    color: gray;
}

.main > .item-container > .items > .right-item > #item > .content .content-icons {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: 50px;
    margin-right: 30px;
}

.main > .item-container > .items > .right-item > #item > .content .content-icons .icon-wrapper{
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 22px;
    gap: 20px;
}

.main > .item-container > .items > .right-item > #item > .content .content-icons .icon-wrapper a {
    display: flex;
    flex-direction: row;
}

.main > .article-container {
    flex-flow: column;
    width: 300px;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    color: gray;
}

.main > .article-container > .articles {
    width: 300px;
}

.main > .article-container > .articles .announcements {
    margin-top: 19px;
    color: #000;
    font-weight: 500;
    
}

.main > .article-container > .articles #article {
    margin-top: 25px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.158));
    height: 350px;
    border-radius: 4px;
    background-color: #ffffffe0;
    padding: 40px 35px;
    font-size: 12px;
}

.main > .article-container > .articles #article .article-content {
    margin-bottom: 0;
}

.main > .article-container > .articles #article hr {
    height: 1px;
    border: none;
    background: #ccc;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main > .article-container > .articles #article div h2 {
    font-weight: 700;
    color: #000;
    font-size: 14px;
    margin-bottom: 3px;
}


.main > .article-container > .articles .article2 .div {
    display: flex;
    padding-top: 8px;
    flex-direction: row;
    margin-bottom: 20px;
}

.main > .article-container > .articles .article2 p {
    font-size: 14px;
}

.main > .article-container > .articles .article2 .div .profile-img {
    height: 44px;
    width: 46px;
    border-radius: 50%;
    margin-right: 15px;
}

.main > .article-container > .articles .article2 .div #john {
    background-image: url(images/john.webp);
    background-size: cover;
}

.main > .article-container > .articles .article2 .div #paul {
    background-image: url(images/paul.webp);
    background-size: cover;
}

.main > .article-container > .articles .article2 .div #george {
    background-image: url(images/george.jpg);
    background-size: cover;
}

.main > .article-container > .articles .article2 .div #ringo {
    background-image: url(images/ringo.jpg);
    background-size: cover;
}

.main > .article-container > .articles .article2 .div .user-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template: "sidebar header" 145px
                   "sidebar main" auto /
                   280px auto;
}
